.spots-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  column-gap: 20px;
  row-gap: 20px;
  padding-top: 7%;
}
.card{
  border-color: black;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
img.card{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height:50%;
}
