.spots-list{
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

button.card{
  padding: 75px;
  border: 5px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  size: 50px;
}
