.reviewcard{
  border-color: lightgray;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  height: 220px;
  width: 460px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.reviewinfo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: flex-start;
  align-content: space-between;
  align-items: flex-start;
  font-size: large;
  max-height: 215px;
  margin-left: 5px;
  margin-top: 4px;
}

.delete{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 210px;
}
.rev{
  display: flex;
  justify-content: space-between;
  margin: 0px 25px
}
