
.navbar {
  display:flex;
  position: fixed;
  align-items:flex-start;
  justify-content:space-between;
  margin: 0;
  padding-bottom: 13px;
  padding-top: 0px;
  padding-left: 0px;
  border-bottom: 2px solid lightgray;
  width: 100%;
  height: 60px;
}
.bar-1{
display: flex;
justify-items: center;
}
.bar-2{
  display: flex;
}
.logo{
  display: flex;
  height: 15% ;
  width: 100%;
}
.profilebutton{
  display: flex;
  width: 400px;
  height: 50px;
  cursor:grab;
  border-radius: 30px;
  background-color: transparent;
}

.fas.fa-user-circle::before{
  height: 40px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  /* display: grid; */
  list-style-type: none;
  }
h2{
  display: grid;
  justify-content: center;
}
